{% extends 'base.html' %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block headcss %}
    <link href="/static/css/passw.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <article class="container-fluid" style="margin-top: 3.5rem">
        <div class="row">
            <div class="col">
                <nav id="siteBreadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb p-2">
                        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a
                                href="/seguridad/cambiar/password/interno">Cambiar contraseña</a></li>
                    </ol>
                </nav>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-5 center-x">
                <form id="id-form-cambiar-password">
                    <input type="hidden" name="accion" value="cambio-password-interno">
                    {% csrf_token %}
                    <div class="card shadow mb-5">
                        <div class="card-header">
                            <h5 class="mb-2 font-weight-normal text-center">Cambio de contraseña</h5>
                        </div>
                        <div class="card-body">
                            <div id="pswd_info" style="font-size:12px">
                                <h6>La contraseña <i class="fa fa-lock text-primary"></i> debe cumplir con los
                                    siguientes parámetros:</h6>
                                <ul>
                                    <li id="letter" style="display: none">Al menos <strong>una letra.</strong></li>
                                    <li id="capital">Al menos <strong>una letra en mayúscula.</strong></li>
                                    <li id="number">Al menos <strong>un número.</strong></li>
                                    <li id="length">Mínimo ha de contener <strong>8 caracteres.</strong></li>
                                    <li id="igualdad">La nueva contraseña <strong>no debe ser igual</strong> a la
                                        actual.
                                    </li>
                                    <li id="nuevarepetir">Confirmar contraseña <strong>debe ser igual</strong> a la
                                        nueva contraseña.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="col-md text-center" style="min-height: 2rem">
                                    <div id="id-mensaje" class="p-2" style="display: none">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md">
                                    <label for="">Contraseña actual: </label>
                                    <div class="">
                                        <input type="password" class="form-control mt-1" id="id-password"
                                               placeholder="Ingrese constraseña actual"
                                               name="password_actual"
                                               required autocomplete="off">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md">
                                    <label for="">Nueva constraseña: </label>
                                    <div class="">
                                        <input type="password" class="form-control valida-password mt-1"
                                               id="id-password-nueva"
                                               placeholder="Ingrese nueva constraseña"
                                               name="password_nueva"
                                               required autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md">
                                    <label for="">Confirmar constraseña: </label>
                                    <div class="">
                                        <input type="password" class="form-control valida-password mt-1"
                                               id="id-password-repetir"
                                               placeholder="Ingrese confirmar constraseña" name="password_repetir"
                                               required autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox mt-1">
                                <label>
                                    <input type="checkbox" name="norobot" required> <b>No soy un Robot</b>
                                </label>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="/" class="btn btn-danger">
                                <i class="fa fa-arrow-left"></i> Cancelar
                            </a>
                            <button id="id-btn-send" class="btn bt-login btn-secondary float-right" disabled>
                                <i class="fa fa-sign-in-alt"></i> Actualizar contraseña
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </article>
{% endblock %}

{% block js %}

{% endblock %}

{% block jscript %}
    <script>
        $(function () {
            $('.valida-password').blur(function () {
                $('#id-mensaje').fadeOut();
            });
            $('.valida-password').keyup(function () {
                var pswd = $(this).val();
                var habilitar = true;
                if (pswd.length < 8) {
                    $('#length').removeClass('valid').addClass('invalid');
                    habilitar = false;
                } else {
                    $('#length').removeClass('invalid').addClass('valid');
                }
                if (pswd.match(/[A-z]/)) {
                    $('#letter').removeClass('invalid').addClass('valid');
                } else {
                    habilitar = false;
                    $('#letter').removeClass('valid').addClass('invalid');
                }
                if (pswd.match(/[A-Z]/) && pswd.match(/[a-z]/)) {
                    $('#capital').removeClass('invalid').addClass('valid');
                } else {
                    habilitar = false;
                    $('#capital').removeClass('valid').addClass('invalid');
                }
                if (pswd.match(/\d/)) {
                    $('#number').removeClass('invalid').addClass('valid');
                } else {
                    habilitar = false;
                    $('#number').removeClass('valid').addClass('invalid');
                }
                if ($("#id-password-nueva").val().toLowerCase() != $("#id-password").val().toLowerCase()) {
                    $('#igualdad').removeClass('invalid').addClass('valid');
                } else {
                    habilitar = false;
                    $('#igualdad').removeClass('valid').addClass('invalid');
                }
                if ($("#id-password-nueva").val() == $("#id-password-repetir").val()) {
                    $('#nuevarepetir').removeClass('invalid').addClass('valid');
                } else {
                    habilitar = false;
                    $('#nuevarepetir').removeClass('valid').addClass('invalid');
                }
                if (habilitar) {
                    $('#id-btn-send').attr('disabled', false);
                    $('#id-btn-send').removeClass('btn-secondary').addClass('btn-primary');
                } else {
                    $('#id-btn-send').attr('disabled', true);
                    $('#id-btn-send').removeClass('btn-primary').addClass('btn-secondary');
                }
            });

            $('#id-form-cambiar-password').on({
                submit: function (e) {
                    e.preventDefault();
                    var frmData = new FormData($(this)[0]);
                    //frmData.append('navegador', jscd.browser + ' ' + jscd.browserMajorVersion);
                    //frmData.append('so', jscd.os + ' ' + jscd.osVersion);
                    //frmData.append('screensize', jscd.screen);

                    $('#id-btn-send').attr('disabled', true);
                    $('#id-mensaje').removeClass().fadeOut();

                    $.ajax({
                        url: '/seguridad/cambiar/password/interno/',
                        data: frmData,
                        method: 'POST',
                        dataType: 'json',
                        cache: false,
                        contentType: false,
                        processData: false,
                    }).done(function (data) {
                        if (data.resp == true) {
                            $('#id-mensaje').fadeIn().addClass('alert alert-success');
                            $('#id-mensaje').html('<i class="fa fa-check"></i> <em>La contraseña se actualizo correctamente</em>');
                            $('#id-btn-send').hide();
                            setInterval(function () {
                                window.location = '/'
                            }, 3000);

                        } else {
                            $('#id-btn-send').attr('disabled', false);
                            $('#id-mensaje').fadeIn().addClass('alert alert-danger');
                            $('#id-mensaje').html('<i class="fa fa-ban"></i> <em>' + data.error + '</em>');
                        }
                    }).fail(function (jqXHR, textStatus) {
                        $('#id-mensaje').fadeIn().addClass('alert alert-danger');
                        $('#id-mensaje').html('Error:Problemas de conexion con el servidor' + textStatus);
                        $('#id-btn-send').attr('disabled', true);
                    });
                }
            });
            //clienteinfo(window);
        });
    </script>
{% endblock %}
